::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: rgb(204, 204, 204); }
::-webkit-scrollbar-thumb:hover { background: rgb(196, 196, 196); }

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI';
    font-size: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

head {
    width: 100%;
    height: 46px;
    top: 0px;
    z-index: 3;
    position: absolute;
}

main {
    position: absolute;
    width: 100%;
    top: 46px;
    bottom: 0px;
    overflow: auto;
}

header {
    width: 100%;
    height: 225px;
}

.portfolio {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 28%;
}